[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/ntp"]
	path = puppet/modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "puppet/modules/neo4j"]
	path = puppet/modules/neo4j
	url = https://github.com/mlambrichs/puppet-neo4j.git
[submodule "puppet/modules/java"]
	path = puppet/modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "puppet/modules/archive"]
	path = puppet/modules/archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "puppet/modules/firewall"]
	path = puppet/modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "puppet/modules/systemd"]
	path = puppet/modules/systemd
	url = https://github.com/camptocamp/puppet-systemd.git
[submodule "puppet/single/modules/neo4j"]
	path = puppet/single/modules/neo4j
	url = https://github.com/mlambrichs/puppet-neo4j.git
[submodule "puppet/modules/debconf"]
	path = puppet/modules/debconf
	url = https://github.com/smoeding/puppet-debconf.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/epel"]
	path = puppet/modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "puppet/modules/uwsgi"]
	path = puppet/modules/uwsgi
	url = https://github.com/rvdh/puppet-uwsgi.git
[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "puppet/modules/carbon-c-relay"]
	path = puppet/modules/carbon-c-relay
	url = https://github.com/mlambrichs/puppet-carbon_c_relay.git
[submodule "puppet/modules/carbon"]
	path = puppet/modules/carbon
	url = https://github.com/mlambrichs/puppet-carbon.git
[submodule "puppet/modules/grafana"]
	path = puppet/modules/grafana
	url = https://github.com/voxpupuli/puppet-grafana.git
[submodule "puppet/modules/graphite_web"]
	path = puppet/modules/graphite_web
	url = https://github.com/mlambrichs/puppet-graphite_web.git
[submodule "puppet/modules/profiles"]
	path = puppet/modules/profiles
	url = https://github.com/mlambrichs/attachmentgenie-profiles.git
[submodule "puppet/modules/stacks"]
	path = puppet/modules/stacks
	url = https://github.com/mlambrichs/attachmentgenie-stacks.git
[submodule "puppet/modules/roles"]
	path = puppet/modules/roles
	url = https://github.com/mlambrichs/attachmentgenie-roles.git
[submodule "puppet/modules/timezone"]
	path = puppet/modules/timezone
	url = https://github.com/attachmentgenie/attachmentgenie-timezone.git
