[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/ntp"]
	path = puppet/modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "puppet/modules/timezone"]
	path = puppet/modules/timezone
	url = https://github.com/saz/puppet-timezone.git
